@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
body {
  background: #1c1e27;
  font-family: 'Libre Baskerville', serif;
  color: rgba(173, 190, 209, 0.849);
}

.app {
  min-height: 100vh;
  padding: 2rem;
}

.app-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-container .info-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.app-container .info-container::after {
  content: "";
  width: clamp(70%, 80vw, 100%);
  height: 1px;
  background: rgba(173, 190, 209, 0.849);
  opacity: 0.3;
}

.app-container .info-container .title-container {
  width: 100%;
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-container .info-container .title-container h1 {
  font-size: clamp(2.2rem, 6.5vw, 4.5rem);
  margin-bottom: 2rem;
}

.app-container .info-container .title-container h3 {
  font-size: clamp(0.8rem, 1vw, 1.5rem);
}

.app-container .info-container .input-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.app-container .info-container .input-container input {
  padding: 0.2rem;
  width: clamp(200px, 60vw, 300px);
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(173, 190, 209, 0.849);
  border-radius: 5px;
  background: none;
  background: rgba(45, 45, 71, 0.548);
  color: rgba(173, 190, 209, 0.849);
  font-size: clamp(0.8rem, 3.5vw, 1rem);
  line-height: 2.5rem;
}

.app-container .info-container .input-container input::-webkit-input-placeholder {
  color: rgba(173, 190, 209, 0.849);
}

.app-container .info-container .input-container input:-ms-input-placeholder {
  color: rgba(173, 190, 209, 0.849);
}

.app-container .info-container .input-container input::-ms-input-placeholder {
  color: rgba(173, 190, 209, 0.849);
}

.app-container .info-container .input-container input::placeholder {
  color: rgba(173, 190, 209, 0.849);
}

.app-container .info-container .input-container [placeholder]::-webkit-input-placeholder {
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.app-container .info-container .input-container [placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.app .weather-container {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
}

.card-container {
  width: 45vw;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background: #03010c;
  margin-bottom: 3rem;
}

.card-container .image-container {
  height: 100%;
  width: 30%;
}

.card-container .image-container img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.card-container .text-container {
  width: 70%;
  height: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.card-container .text-container .close-container {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.5rem;
  cursor: pointer;
  color: rgba(218, 131, 131, 0.8);
}

.card-container .text-container .close-container svg {
  pointer-events: none;
}

.card-container .text-container .city-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid rgba(173, 190, 209, 0.849);
}

.card-container .text-container .city-info h2, .card-container .text-container .city-info h4 {
  margin-bottom: 1rem;
}

.card-container .text-container .weather-container {
  width: 100%;
  padding: 1rem;
}

.card-container .text-container .weather-info-container {
  width: 100%;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
