.card-container {
  width: clamp(600px, 70%, 800px);
  height: 55vh;
  @include univerzalni-flex-display(center, center);
  border-radius: 15px;
  background: $card-background;
  margin-bottom: 3rem;

  .image-container {
    height: 100%;
    width: clamp(200px, 50%, 300px);

    img {
      border-radius: 15px;
      height: 100%;
      width: 100%;
    }
  }
  .text-container {
    width: 70%;
    height: 100%;
    padding: 2rem;
    @include univerzalni-flex-display(space-between, center);
    flex-direction: column;
    position: relative;

    .close-container {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: clamp(1.5rem, 2.5vw, 2.5rem);
      cursor: pointer;
      color: rgba(218, 131, 131, 0.8);

      svg {
        pointer-events: none;
      }
    }
    .container {
      width: 100%;
      padding: 1rem;
    }

    .city-info {
      @include univerzalni-flex-display(center, center);
      flex-direction: column;
      border-bottom: 1px solid $primary-font-color;
    }

    .weather .weather-info-container {
      margin-bottom: 2rem;
      @include univerzalni-flex-display(space-between, center);
    }
  }
}

@include media-625 {
  .card-container {
    width: 300px;
    height: fit-content;
    flex-direction: column;

    .image-container {
      height: 350px;
      width: 100%;
    }
    .text-container {
      width: 100%;
    }
  }
}
